<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}EasyPower{% endblock %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--Header Background Part Starts -->
<div id="header-bg">
	<!--Header Contant Part Starts -->
	<div id="header">
		<a href="/"><img src="{{ STATIC_URL }}images/logo.gif" alt="EasyPower" border="0" class="logo" title="EasyPower" /></a>
		<!--Login Background Starts -->
		<div id="login-bg" style="visibility:{% block loginBoxVisible %}visible{% endblock %};">
			<!--Login Area Starts -->
			{% if not user.is_authenticated %}
			<div id="login-area">
				<form action="{% url login %}" method="post" name="Login" id="Login">
				{% csrf_token %}
					<label>User Login:</label>
					<input type="text" name="username" id="username" />
					<input type="password" name="pass" id="pass" />
					<input type="image" src="{{STATIC_URL}}images/login-btn.gif" class="login-btn" alt="Login" title="Login" />
					<br /><br />{% if state %}<span id="loginErrors" style="color: red; font-size: 10px; position: relative; top: -15px;">{{ state }}</span>{% endif %}
					<br class="spacer" />
				</form>
			</div>
			{% endif %}
			<!--Login Area Ends -->
		</div>
		<!--Login Background Ends -->
		<br class="spacer" />
	</div>
	<!--Header Contant Part Ends -->
</div>
<!--Header Background Part Ends -->
<!--Navigation Background Part Starts -->
<div id="navigation-bg">
	<!--Navigation Part Starts -->
	<div id="navigation">
		<ul class="mainMenu">
			<li><a href="/" {% block homeNav %} {% endblock %} title="Home">Home</a></li>
			{% if user.is_authenticated %}
			<li><a href="/home/dashboard/" {% block dashboardNav %} {%endblock %} title="Dashboard">Dashboard</a></li>
			{% endif %}
			<li><a href="/home/project/" {% block projectNav %} {% endblock %} title="About">Project</a></li>
			<li><a href="/home/contact/" {% block contactNav %} {%endblock %} title="Contact">Contact</a></li>
		</ul>
		{% if not user.is_authenticated %}
		<a href="/home/register/" class="signup" title="Signup Now"></a>
		{% else %}
		<a href="/home/logout/" class="logout" title="Logout"></a>
		{% endif %}
		<br class="spacer" />
		{% block subNav %}
		{% endblock %}
	</div>
	<!--Navigation Part Ends -->
</div>
<!--Navigation Background Part Ends -->

<!--Main Content Begins-->
{% block content %}{% endblock %}
<!--Main Content Ends-->

<!--Footer Part Starts -->
<div id="footer-bg">
	<!--Footer Menu Part Starts -->
	<div id="footer-menu">
		<ul class="footMenu">
			<li class="noDivider"><a href="/" title="Home">Home</a></li>
			<li><a href="/home/project/" title="About">Project</a></li>
			<li><a href="/home/contact/" title="Contact">Contact</a></li>
			<li><a href="/admin/" title="Admin Login">Admin Login</a></li>
		</ul>
		<br class="spacer" />
		<p class="copyright">Copyright &copy; R. Uherek, A. Oza, A. Patel, M. Todiwala -  2013 All Rights Reserved</p>
	</div>
	<!--Footer Menu Part Ends -->
</div>
<!--Footer Part Ends -->
</body>

{% block scripts %}{% endblock %}

</html>
