{% extends "base.html" %}

{% block title %}EasyPower - Contact Us{% endblock %}

{% block contactNav %}class="selectMenu"{% endblock %}

{% block content %}
<!--Our Company Bacground Part Ends -->
<!--Future Plans Part Starts -->
<div id="futurePlan-bg">
	<!--Future Plans Contant Part Starts -->
	<div id="futurePlanContant">
		<!--Future Part Starts -->
		<div id="futurePart">
			<h2 class="future-hdr">Contact Us</h2>
			<h3 class="future-subHdr">Have an idea? Want us to implement it? Reach out to us...</h3>
			<p>EasyPower is a 2013 Capstone Project developed at Rutgers University under Dr. Manish Parashar. Although it is just a capstone project, we would one day like to see our idea developed, and used by the energy industry.</p>
			<p>If you want to reach out to us with ideas, questions, comments, or concerns, feel free to reach out to our development team via e-mail at one of the below addresses:</p>

			<br class="spacer">
			<h2 class="future-hdr"></h2>

			<h3 class="future-subHdr">Django Development</h3>
			<p>Rylan Uherek: <a href="mailto: rylan@rutgers.edu" style="color:white; text-decoration: underline;">rylan@rutgers.edu</a></p>

			<br class="spacer" />

			<h3 class="future-subHdr">Android Development</h3>
			<p>Aakash Patel: <a href="mailto: aak4shpatel@gmail.com" style="color:white; text-decoration: underline;">aak4shpatel@gmail.com</a></p>

			<br class="spacer" />
			<h3 class="future-subHdr">Arduino Development & Testing</h3>
			<p>Avinash Oza: <a href="mailto: avioza@rutgers.edu" style="color:white; text-decoration: underline;">avioza@rutgers.edu</a></p>
			<p>Mozam Todiwala: <a href="mailto: tmozam@rutgers.edu" style="color:white; text-decoration: underline;">tmozam@rutgers.edu</a></p>

			<br class="spacer" />
			<h2 class="future-hdr"></h2>
			<h3 class="future-subHdr">References</h3>

			<br /><span style="font-size: 14px;">The following people, and references were of great help to the development of this project:</span>

			<ol>
				<li style="font-size: 14px;"><a href="https://github.com/kmeht/" style="color: white; text-decoration: underline;">Kunal Mehta</a>: We modified some of his Django code from Huxley, a Berkley Model UN Registration System, specifically for our forms and form validation systems.</li>
				<li style="font-size: 14px;"><a href="https://docs.djangoproject.com/en/dev/ref/" style="color: white; text-decoration: underline;">Django API</a>: The Django API.</li>
				<li style="font-size: 14px;"><a href="https://docs.djangoproject.com/en/1.1/topics/templates/" style="color: white; text-decoration: underline;">Django Template Guide</a>: The Django Template Reference.</li>
			</ol>

			<br class="spacer" />
		</div>
		<!--Future Part Ends -->
		<br class="spacer" />
	</div>
	<!--Future Plans Contant Part Ends -->
</div>
{% endblock %}
