{% extends "base.html" %}

{% block title %}EasyPower - Dashboard{% endblock %}
{% block dashboardNav %}class="selectMenu"{% endblock %}

{% block subNav %}
<ul class="subNav">
	<li class="noBg"><a href="/home/details/" title="Detailed Usage Report">Detailed Usage Report</a></li>
</ul>
<br class="spacer" />
{% endblock %}

{% block content %}
<!--Our Company Bacground Part Ends -->
<!--Future Plans Part Starts -->
<div id="futurePlan-bg">
	<!--Future Plans Contant Part Starts -->
	<div id="futurePlanContant">
		<!--Future Part Starts -->
		<div id="futurePart">
			<h2 class="future-hdr">Dashboard</h2>

			<!-- Device Status -->
			<h3 class="future-subHdr">Device Status</h3>
			<br class="spacer" /><br />

			{% if realdata %}
				<div style="font-size: 14px;"><span style="color:green; font-weight: bold; font-size: 14px;">ONLINE</span> - Your device is online and reporting data.</div>
			{% else %}
				<div style="font-size: 14px;"><span style="color:red; font-weight: bold; font-size: 14px;">ERROR</span> - Your device is not reporting data. (The most recent data from your EasyPower arduino device was received over 30 minutes ago, or has not yet been received. Here are some tips you can use to make sure your device is working:</div>
				<ol style="font-size: 14px;">
					<li>Make sure your device is turned on.</li>
					<li>Make sure your device is connected to an ethernet cable.</li>
					<li>Verify that the transducers are connected to your breaker box at the appropriate location. If they are not, you may need to replace them. Please contact a site administrator for directions.</li>
					<li>Verify that your router is turned on, and you have internet access (you may need to work with your ISP to verify internet access issues).</li>
				</ol>
			{% endif %}

			<br class="spacer" />

			<!-- 24 Hours Graph -->
			<h3 class="future-subHdr">Today's Power Usage</h3>
			<br class="spacer" />
			
			<div style="width:700px; height:400px; margin-left: auto; margin-right: auto; float:center;" id='chart_div'></div>

			<!-- Last 10 Power Reports -->
			<br class="spacer" />
			<h3 class="future-subHdr">Recent Power Monitor Reports (10)</h3><br />

			{% if readings %}
				<span style="font-size:14px;">These are the last 10 readings from your device. The readings do not indicate that your device is currently online. Please check the above status to verify.</span>
				<br class="spacer" />
				<table id="report">
					<thead>
						<tr>
							<th>Time Reported:</th>
							<th>Power Usage (Watts):</th>
						<tr>
					</thead>
					<tbody>
				{% for EnergyReading in readings %}
					<tr>
						<td>{{ EnergyReading.ReadingTime }}</td>
						<td>{{ EnergyReading.EnergyReading }}</td>
					</tr>
				{% endfor %}
					</tbody>
				</table>
			{% else %}
				<div style="font-size: 14px;"><span style="color:red; font-weight: bold; font-size: 14px;">ERROR</span> - Your DeviceID may be incorrect, or your device may not be reporting data. Please contact a site admin.</div>
			{% endif %}

			<br class="spacer" />
			<!-- Power Bill -->
			<h3 class="future-subHdr">This Month's Estimated Power Bill</h3><br />
			<div style="font-size: 14px;">
				<span style="font-weight: bold; color: green;">${{ actualBill }}</span><br /><br />

				How is my bill calculated?

				<ol>
					<li>We find the amount of hours up to this day of the month. (e.g. the 10th is 240 hours)</li>
					<li>Our system averages the amount of power you used. This means, the more you report, the more accurate your bill estimate is!</li>
					<li>We multiply the hours in the month, up to this day and charge by <b>10c/kW*hour</b>, the national average.</li>
				</ol>
			</div>

		</div>
		<!--Future Part Ends -->
		<br class="spacer" />
	</div>
	<!--Future Plans Contant Part Ends -->
</div>
{% endblock %}

{% block scripts %}
<!-- Graph Script -->
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', 'Power Usage (W)');
        data.addRows([
			{% for EnergyReading in last24 %}[new Date({{EnergyReading.ReadingTime|date:"Y, m-1, d, H, i"}}), {{EnergyReading.EnergyReading}}],{% endfor %}
		]);
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
    	chart.draw(data, {displayAnnotations: false});
    }
	</script>
{% endblock %}
