{% extends "base.html" %}

{% block title %}EasyPower - Details{% endblock %}
{% block dashboardNav %}class="selectMenu"{% endblock %}

{% block subNav %}
<ul class="subNav">
	<li class="noBg"><a href="/home/details/" title="Detailed Usage Report">Detailed Usage Report</a></li>
</ul>
<br class="spacer" />
{% endblock %}

{% block content %}
<!--Our Company Bacground Part Ends -->
<!--Future Plans Part Starts -->
<div id="futurePlan-bg">
	<!--Future Plans Contant Part Starts -->
	<div id="futurePlanContant">
		<!--Future Part Starts -->
		<div id="futurePart">
			<h2 class="future-hdr">Detailed Usage Report</h2>

			<!-- All Time History -->
			<h3 class="future-subHdr">All Time Usage History</h3>
			<br class="spacer" />

			<div style="width:700px; height:400px; margin-left: auto; margin-right: auto; float:center;" id='chart_div'></div>

			<div style="font-size: 14px;"><br />
			You can edit the graph using these options:
				<ol>
					<li>Use the zoom functionality at the top of the graph to choose a timespan.</li>
					<li>Use the scanner at the bottom of the graph to shift the timespan.</li>
				</ol>
			</div>
			<br class="spacer" />

			<!-- 1 Year Bill History -->
			<h3 class="future-subHdr">1 Year Billing History</h3>
			<br class="spacer" />

	        {% if powerhistory %}
                <span style="font-size:14px;">These were your bills for the last 12 months.</span><br />
                <br class="spacer" />
                <table id="report">
                    <thead>
                        <tr>
                            <th>Month:</th>
                            <th>Power Bill:</th>
                        <tr>
                    </thead>
                    <tbody>
                {% for item in powerhistory %}
                    <tr>
                        <td>{{ item.month }}</td>
                        <td>${{ item.reading|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}

		</div>
		<!--Future Part Ends -->
		<br class="spacer" />
	</div>
	<!--Future Plans Contant Part Ends -->
</div>
{% endblock %}

{% block scripts %}
<!-- Graph Script -->
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', 'Power Usage (W)');
        data.addRows([
			{% for EnergyReading in allhistory %}[new Date({{EnergyReading.ReadingTime|date:"Y, m-1, d, H, i"}}), {{EnergyReading.EnergyReading}}],{% endfor %}
		]);
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
    	chart.draw(data, {displayAnnotations: false});
    }
	</script>
{% endblock %}
