{% extends "base.html" %}

{% block homeNav %}class="selectMenu"{% endblock %}

{% block content %}
<!--Our Company Bacground Part Starts -->
<div id="ourCompany-bg">
	<!--Our Company Part Starts -->
	<div id="ourCompany-part">
		<h2 class="ourCompany-hdr">Why Use EasyPower?</h2>
		<!--Our Company Left Part Starts -->
		<div id="ourCompany-leftPart">
			<h2 class="moreIdeas-Hdr">Our Design</h2>
			<ul class="ourCompany-list">
				<li>We believe in a simple idea: everyone should be able to easily track the power consumption of their building or residence.</li>
				<li>We use an open source platform.</li>
				<li>Our monitoring system is state of the art.</li>
			</ul>
			<h2 class="faq-Hdr">How Does It Work?</h2>
			<ul class="ourCompany-list noBottomPadding">
				<li>Step 1. You connect our device to your power system. The device is configured to connect to wifi, and comes with a unique ID associated with the device.</li>
				<li>Step 2. Come to this website, and click the 'Signup Now' link.</li>
				<li>Step 3. Wait! In a few minutes, you'll start to see your power data rolling in!</li>
			</ul>
		</div>
		<!--Our Company Left Part Ends -->
		<!--Our Company Right Part Starts -->
		<div id="ourCompany-rightPart">
			<h2 class="moreInfo-Hdr">More Information</h2>
			<ul class="ourCompany-list noBottomPadding">
				<li>Curious About Us? Click our 'About' or 'Contact' page to find out about our development team!</li>
			</ul>
			<h2 class="searchUrl-Hdr">Want To Read More?</h2>
			<ul class="ourCompany-list noBottomPadding">
				<li><a href="http://www.veris.com/Category/Power-fslEnergy-spcMonitoring.aspx">How Power Monitoring Works</a></li>
				<li><a href="http://www.arduino.cc">Arduino</a></li>
				<li><a href="http://www.pge.com/en/myhome/saveenergymoney/savingstips/index.page">Energy Saving Tips</a></li>
			</ul>
		</div>
		<!--Our Company Right Part Ends -->
		<br class="spacer" />
	</div>
	<!--Our Company Part Ends -->
</div>
<!--Our Company Bacground Part Ends -->
<!--Future Plans Part Starts -->
<div id="futurePlan-bg">
	<!--Future Plans Contant Part Starts -->
	<div id="futurePlanContant">
		<!--Future Part Starts -->
		<div id="futurePart">
			<h2 class="future-hdr">Energy Savings, The Fun Way!</h2>
			<h3 class="future-subHdr">Use EasyPower to monitor your energy usage!</h3>
			<p>Using EasyPower is extremely simple. All you have to do is connect our device, register an account, and you'll be monitoring your power usage in no time!</p>
			<p>The flip side is how it benefits others too! Your utility company can more accurately monitor usage in your neighborhood and city. What does this mean for you? It means lower energy cost! The utility can better predict usage, and vary supply / demand as needed! EasyPower benefits everyone!</p>
			<br class="spacer" />
		</div>
		<!--Future Part Ends -->
		<br class="spacer" />
	</div>
	<!--Future Plans Contant Part Ends -->
</div>
{% endblock %}
