{% extends "base.html" %}

{% block title %}EasyPower - Dashboard{% endblock %}
{% block dashboardNav %}class="selectMenu"{% endblock %}

{% block content %}
<!--Our Company Bacground Part Ends -->
<!--Future Plans Part Starts -->
<div id="futurePlan-bg">
	<!--Future Plans Contant Part Starts -->
	<div id="futurePlanContant">
		<!--Future Part Starts -->
		<div id="futurePart">
			<h2 class="future-hdr">Power Company Dashboard</h2>

			{% if total_users.count %}
				<h3 class="future-subHdr">Total Number of Users From Your Company: {{ total_users.count }} </h3>
			{% else %}
				<h3 class="future-subHdr">SORRY - It appears that nobody from your power company is currently using our system.</h3>
				
			{% endif %}

			<br class="spacer" />

			<!-- 30 Days Graph -->
			<h3 class="future-subHdr">Last 30 Days' Power Usage</h3>
			<br class="spacer" />
			<br class="spacer" />
			
			<div style="width:700px; height:400px; margin-left: auto; margin-right: auto; float:center;" id='chart_div'></div>

			{% if total_usage %}
				<span style="font-size:14px;">These are the last 30 days' aggregated data:</span>
				<br class="spacer" />
				<table id="report">
					<thead>
						<tr>
							<th>Date:</th>
							<th>Total Power Usage (Watts):</th>
							<th>Total Revenue for Day:</th>
						<tr>
					</thead>
					<tbody>
				{% for day_data in last30 %}
					<tr>
						<td>{{ day_data.date }}</td>
						<td>{{ day_data.total_power|floatformat:3 }}</td>
						<td>${{ day_data.total_revenue|floatformat:3 }}</td>
					</tr>
				{% endfor %}
					</tbody>
				</table>
			{% else %}
				<br />
				<div style="font-size: 14px;"><span style="color:red; font-weight: bold; font-size: 14px;">SORRY</span> - Looks like nobody has been using power from you :(</div>
			{% endif %}

			<br class="spacer" />
			<!-- Power Bill -->
			<h3 class="future-subHdr">This Period's Total Revenue</h3><br />
			<div style="font-size: 14px;">
				<span style="font-weight: bold; color: green;">${{ revenue30 }}</span><br /><br />

				How is my Total Revenue calculated?

				<ol>
					<li>We find the amount of revenue made per day by taking the amount of Power Reported, and multiply it by the national average of 10c/kWh.</li>
					<li>We sum up all of the days to obtain the Total Revenue for the last 30 days.</li>
				</ol>
			</div>

		</div>
		<!--Future Part Ends -->
		<br class="spacer" />
	</div>
	<!--Future Plans Contant Part Ends -->
</div>
{% endblock %}

{% block scripts %}
<!-- Graph Script -->
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Total Power Usage (W)');
        data.addRows([
			{% for day_data in last30 %}[new Date({{day_data.date|date:"Y, m-1, d"}}), {{day_data.total_power}}],{% endfor %}
		]);
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
    	chart.draw(data, {displayAnnotations: false});
    }
	</script>
{% endblock %}
