{% extends "base.html" %}

{% block title %}EasyPower - Project{% endblock %}

{% block projectNav %}class="selectMenu"{% endblock %}

{% block content %}
<!--Future Plans Part Starts -->
<div id="futurePlan-bg">
	<!--Future Plans Contant Part Starts -->
	<div id="futurePlanContant">
		<!--Future Part Starts -->
		<div id="futurePart">
			<h2 class="future-hdr">Our Project</h2>
			<h3 class="future-subHdr">How Does EasyPower Work?</h3>
			<p>We'll tell you later...</p>
			<br class="spacer" />
		</div>
		<!--Future Part Ends -->
		<br class="spacer" />
	</div>
	<!--Future Plans Contant Part Ends -->
</div>
{% endblock %}
