{% extends "base.html" %}

{% block title %}EasyPower - Register{% endblock %}

{% block content %}
<!--Future Plans Part Starts -->
<div id="futurePlan-bg">
	<!--Future Plans Contant Part Starts -->
	<div id="futurePlanContant">
		<!--Future Part Starts -->
		<div id="futurePart">
			<h2 class="future-hdr">Register</h2>
			<h3 class="future-subHdr">Register for an EasyPower Account. You will need your Device Code.</h3>

			<p>The device code is provided with your Arduino device. You will need the device code to link your account and your device. Your device code is unique to your device.</p>

			<br class="spacer" />		

			<form method="post" id="registration" action="{% url register %}">
			{% csrf_token %}

				<p>	
					{{ form.FirstName.label }}
					<br />
					{{ form.FirstName }}
					<br />
					{% for error in form.errors.FirstName %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
				</p>
				<br class="spacer" />

				<p>	
					{{ form.LastName.label }}
					<br />
					{{ form.LastName }}
					<br />
					{% for error in form.errors.LastName %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
				</p>
				<br class="spacer" />

				<p>	
					{{ form.Username.label }}
					<br />
					{{ form.Username }}
					<br />
					{% for error in form.errors.Username %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
				</p>
				<br class="spacer" />

				<p>	
					{{ form.Password.label }}
					<br />
					{{ form.Password }}
					<br />
					{% for error in form.errors.Password %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
				</p>
				<br class="spacer" />

				<p>	
					{{ form.Email.label }}
					<br />
					{{ form.Email }}
					<br />
					{% for error in form.errors.Email %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
				</p>
				<br class="spacer" />

				<p>	
					{{ form.DeviceID.label }}
					<br />
					{{ form.DeviceID }}
					<br />
					{% for error in form.errors.DeviceID %}<span style="color:red;">{{ error|escape }} </span>{% endfor %}
				</p>
				<br class="spacer" />

				<br />
				<h3 class="future-subHdr">Terms & Conditions.</h3>
				<br class="spacer" />

				<b>Privacy</b>
				<br class="spacer" />

				<p>Your email address and any other personal identifying information that you provide will not be displayed on the site and will not, under any circumstances, be distributed to any third party organization. Further, users of this site should not make public the email address of another user without their express permission. Once you have registered on EasyPower, your email address will be used only to alert you to any site activity or to any power notices you register for.</p>
				<br class="spacer" />
				<br class="spacer" />

				<b>Disclaimer</b>
				<br class="spacer" />

				<p>All and code that appears on EasyPower is edited and technically verified as far as possible. However, use of information obtained from EasyPower is at your own risk. EasyPower, its owners, affiliates, partners and contributing authors cannot be held responsible for any damage or problems that arise from using the information on this site. Occasionally, the site will link to other web sites, over whose content we have no control. Therefore EasyPower can accept no liability for the content found on these linked sites. However, we will remove links to material that we feel is inappropriate.</p>
				<br />

				<br class="spacer" />
				<h3 class="future-subHdr">Register.</h3>
				<p>By clicking the below 'Register' button, you agree to the above Terms and Conditions.</p>
				<br class="spacer" />
				<br class="spacer" />

				<input type="submit" id="registerUser" value="Register Me!" />

			</form>
		</div>
		<!--Future Part Ends -->
		<br class="spacer" />
	</div>
	<!--Future Plans Contant Part Ends -->
</div>
{% endblock %}
